@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
  --homepageItems: 14px;
  --detailPage: 16px;
  --font: 'Nunito Sans', sans-serif; 
}
html,body{
  height: 100%;
  overflow: auto;
}

body{
  font-family: var(--font);
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
}
